.hero {
  display: flex;
  padding: 2rem;
  background-color: #0078aa;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  width: 40%;
  padding: 4rem 2rem;
}

.hero-right {
  width: 60%;
  text-align: center;
}

.hero-title {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-desc {
  color: #fff;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.hero-button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #0078aa;
  background-color: #eee;
  transition: all 0.3s ease;
}

.hero-button:hover {
  color: #fff;
  background-color: #0078aa;
  transform: translateY(-3px);
  box-shadow: 0 4px 0 rgba(0, 120, 170, 0.3);
}

.hero-image {
  width: 80%;
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    padding: 1rem 0;
  }

  .hero-title {
    font-size: 2rem;
    text-align: center;
  }

  .hero-desc {
    font-size: 1rem;
    text-align: center;
  }

  .hero-button {
    display: block;
    margin: 0 auto;
  }

  .hero-image {
    width: 100%;
    margin-top: 1.5rem;
  }
}
