.card {
  display: flex;
  flex-direction: column;
  border: 3px solid #eee;
  border-radius: 1rem;
  margin: 10px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  flex: 1 1 300px;
  max-width: 350px; 
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.card-header {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
}



.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}


.card-body {
  display: block;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
}

.card-body ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.card-body ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 50px;
  background-color: #a4d0ff;
  color: #007bff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


